<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="background"[fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-list  class="set-width">
    <ion-item>
      <ion-label><img class="design"src="../assets/icon/me.jpg" alt=""></ion-label> 
      <ion-label text-wrap><h1>About Me</h1>Trying to learn Ionic and agular by developing more and more apps..The app is open to contributions ..you can use more results form the API to mould the app according to your need</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
