ion-content.background{
    //--ion-background-color:#AF5921;
    --background:url(../../assets/icon/hulk.jpg)0 0/100% 100% no-repeat;
}


.design{
    height: 190px;
    width: 160px
}


.set-width{
   margin-left: 10px;
   margin-right: 10px;
}